footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-primary-lighter);
    color: var(--color-primary-dark);    
}

footer img {
    width: 10rem;
    margin: 0 2rem;
}

/* footer .social-media {
    display: flex; 
    align-items: center;
    justify-content: center;    
} */

footer .social-media .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;    
}

footer .social-media .instagram img{
    width: 2rem;
    margin: 0 0.5rem 0;
}

footer .social-media .facebook {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0.7rem;    
}

footer .social-media .facebook img{
    width: 2rem;
    margin: 0 0.5rem 0;
}